@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  /* Theme */
  --darkest: #23231a;
  --darker: #292e30;
  --dark: #35393b;
  --primary: #629bb8;
  --secondary: #4597a3;
  --text: #ffffff;
  
  /* Chat */
  --chat-font-size: 18px;
  --chat-message-padding: 8px;
  
  /* Fonts */
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-monospace: 'Fira Code', monospace;
}

* {
  font-family: var(--font-primary);
}

body {
  background-color: var(--darkest);
  color: var(--text);
}

#chat {
  background-color: var(--darkest);
  margin: 20px;
}

#chat .message-container {
  padding: var(--chat-message-padding) 8px;
  width: 100%;
  display: flex;
}

#chat .message-container * {
  font-size: var(--chat-font-size);
}

#chat .message-container .message-display {
  margin-left: 12px;
  width: 100%;
}

#chat .message-container .message-display .message-heading .message-author {
  font-size: 1.1em;
  font-weight: 600;
}

#chat .message-container .message-display .message-heading .message-timestamp {
  font-size: 0.85em;
  margin-left: 10px;
  opacity: 0.7;
}

#chat .message-container .message-display .message {
  margin: 4px auto;
}

#chat .message-container .message-display .message:hover {
  background-color: var(--darker);
}

#chat .message-container .message-display .message .message-content b {
  font-weight: 700;
  line-height: 70%;
}

#chat .message-container .message-avatar img {
  width: 2.5em;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #000;
}